# Server Configuration
PORT=3456

# HTTPS Configuration (leave empty to use HTTP only)
# Generate self-signed cert: openssl req -nodes -new -x509 -keyout key.pem -out cert.pem -days 365
HTTPS_ENABLED=true
SSL_KEY_PATH=./certs/key.pem
SSL_CERT_PATH=./certs/cert.pem

# Target Servers Configuration
# Path to the JSON file containing target server mappings
TARGETS_CONFIG=targets.json

# OAuth API Configuration
AUTHENTICATION_URL=https://laboratorios-remotos-test.fi.uba.ar
